{% extends 'hotel_pour_animal/base.html' %}
{% load tag %}
{% load static %}


{% block content %}
    <h1 class="titre_tableau_de_bord">Liste de personne!</h1>

    <div class="row p-4">
        <div class="col-sm-12 mt-3">
            <div class="card">
                <div class="card-header">
                    Recherche
                </div>
                <form action="{% url 'personnes' %}" method="post">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-right">
                            <button class="btn btn-info" type="submit" >Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Téléphone</th>
      </tr>

      {% for personne in personne_list %}
        <tr class="table-info">
            <td><a href="{% url 'detail_personne' personne.id %}">{{ personne.nom }}</a></td>
            <td>{{ personne.prenom }}</td>
            <td>{{ personne.get_adresse_complete_str }}</td>
            <td>{{ personne.telephone }}</td>

        </tr>
       {% endfor %}

    </table>


    <div class="pagination">
        {% if personne_list.has_previous %}
            <a href="?{% param_replace page=personne_list.previous_page_number %} ">Précedente</a>
        {% endif %}

        <span class="current">
            Page {{ personne_list.number }} sur {{ personne_list.paginator.num_pages }}
        </span>

        {% if personne_list.has_next %}
            <a href="?{% param_replace page=personne_list.next_page_number %}">Suivante</a>
        {% endif %}

    </div>

    <div class="text-right">
        <a href="{% url 'create_personne' %}" class="btn btn-info">Ajouter une personne</a>
    </div>



{% endblock %}