body{
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom right, #332998, #ccdbde);
}



nav ul{
  list-style-type: none;
  padding: 0;
}

nav ul li{
  font-size: 20px;
  font-family: "JetBrains Mono Light";
  background: linear-gradient(to bottom left, #d3cb6d, #ccdbde );
  border:  thick double olivedrab;
  /*overflow: hidden;*/
  /*margin: 0.5em;*/
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(45, 20, 45, 0.4);
  height: 50px;

}

nav ul h2{
  margin-top: 10px;
}

/*nav ul li span{*/
/*  background-color: red;*/
/*}*/

nav ul li:hover{
  font-size: 40px;
  transition-duration: 1.2s;
  background: linear-gradient(to bottom left, cornsilk, beige );
  height: 80px;
}

/*nav ul li:hover::before {*/
/*	transform: scale(7);*/
/*}*/

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.flex-parent-element {
  display: flex;
}

.flex-child-element {
  flex: 0.8;
  margin-right: 150px;

}

.flex-child-element:first-child {
  flex: 0.2;
}

.flex-child-element.premier{
  border-radius: 30px ;
}

/*tableau hotel_pour_animal/personnes*/

table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {margin-top: 50px;
  height: 70px;
}

.titre_tableau_de_bord{
  margin-top: 10px;
  margin-bottom: 10px;
}

table tr td a{
  list-style-type: none;
  text-decoration: none;
  color: black;

}

.pagination {
  margin-top: 50px;
  margin-bottom: 50px;
}



/*personne details*/


.card{
  margin-top: 10px;
}
.card-header {
  display: flex;
}
.card-header h3{
  flex: 0.8;
}
.card-header a {
  flex: 0.2;
}



/*formulaire personne*/

form p label{
  padding-right: 70px;
  width: 300px;
}

form p label input{

}

form .col.bouton{
  margin-top: 50px;
  margin-bottom: 15px;
}


/*login*/

.bouton_login{
  margin-top: 50px;
}

